# service file automatically created with github.com/tardisx/unitard

[Unit]
Description={{ .description }}

[Service]
WorkingDirectory={{ .workingDirectory }}
ExecStart={{ .execStart }} {{ .execStartArgs }}

[Install]
WantedBy=default.target